.DS_Store
._*
npm-debug.log
env/*
env/**/*
*.DBF
*.pyc
*.sqlite
media.tar.gz
src/media/**/*
src/media/admin/**
src/media/admin/**/*
src/media/upload/images/**
src/media/upload/images/**/*
src/media/cache/**
src/media/cache/**/*
src/static/**/*
src/assets/devel/node_modules/**
src/assets/devel/node_modules/**/*
environment
